<div class="card-category">
  <h1>Listings#show</h1>
  <h2><%= @listing.name %></h2>
</div>
<div class="container mb-5">
  <p><%= @listing.name%> <%= @listing.note %></p>
  <p><%= @listing.address %></p>
  <%= link_to "Delete listing", listing_path(@listing), class: "btn btn-flat", data: {turbo_method: :delete} %>
  <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-flat" %>

</div>
