<div class="card-category">
    <!-- Listing details -->
<div class="card-trip">
   <%= image_tag "room_1.jpg", alt: "Rental room photo" %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @listing.name %></h2>
      <p><%= @listing.address %></p>
    </div>
    <h2 class="card-trip-pricing">
    <% if @average_rating.nil?%>rating to come
    <% else %><%= @average_rating %>
    <% end%>
    </h2>
  </div>
</div>

</div>
<div class="container mb-5">
    <!-- Booking' listing form -->
            <% if current_user != @listing.user && current_user %>
            <%= simple_form_for [@listing, @booking] do |f| %>
              <%= f.input :start_date, html5: true, label: 'Starting date of your stay' %>
              <%= f.input :end_date, html5: true, label: 'Ending date of your stay'%>
              <%= f.button :submit, 'Rent', class: 'btn btn-dark' %>
            <% end %>
          <% end %>
    <!-- User action on their listing -->
  <% if current_user == @listing.user %>
    <%= link_to "Delete listing", listing_path(@listing), class: "btn btn-flat", data: {turbo_method: :delete} %>
    <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-flat" %>
  <% end %>
    <!-- Reviews -->
  <div class="container mt-5">
    <p><strong>Reviews</strong></p>
    <ul class="list-group">
      <% @listing.reviews.each do |review| %>
        <li class="list-group-item">
          <%= review.comment %>
          <%= review.note %></li>
      <% end %>
    </ul>
    <br>
  </div>
    <!-- Post a review -->
  <div>
  <% if current_user != @listing.user && @listing.reviews.where(user: current_user) == nil %>
    <%= link_to "Leave a review", new_listing_review_path(@listing), class: "btn btn-dark"%>
  <% end %>
  </div>
</div>
